body, header, h1, h2, h3, h4, ul {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
    background-color: #e4e4e4;
    cursor: default;
}

main > div, article, form, main > section, aside {
    border: 2px solid #c0c0c0;
}

main > div#imgcontainer {
    padding: 20px;
    background-color: #fff;
}

main > div#imgcontainer > img {
    border-radius: 1rem;
    border: 2px solid #c0c0c0;
    padding: 5px;
    margin-left: 8.5%;
}

.noaside {
    width: 90%;
    margin: 15px 5%;
}

header > img {
    border: none;
    width: auto;
}

body > header, body > footer{
    background-color: rgb(54,54,54);
    color: #fff;
    text-align: center;
    padding: 15px 0;
}

footer {
    display: flow-root;
    margin-top: 20px;
}

footer > div {
    font-size: small;
    padding: 15px 4%;
}

nav ul{
    list-style: none;
}

nav ul li{
    display: block;
    width: 45%;
    margin: 10px 0 0 20%;
    padding: 5px;
    background-color:rgb(54,54,54);
    border-radius: 0.3rem;
}

nav ul li a {
    text-align: center;
    display: block;
    width:100%;
    height: 100%;
    padding: 5px 0px;
    color: #fff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
}

nav ul li a:hover {
    color:rgb(124, 124, 124);
}

.h1 {
    text-align:center; 
    padding: 20px;
}

article, form, main > section{
    margin-top: 10px;
    background-color: #fff;
    margin-bottom: 10px;
}

article > header > div{
    height: 200px;
    text-align: center;
}

article > header > h2, article > header > p{
    padding: 0 5%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

form{
    padding: 20px;
}

main > section > h2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0 0 20px;
    text-align: center;
}

ul{
    list-style: none;
    width: 80%;
    margin: 0 40px;
}

form ul li{
    margin-bottom: 20px;
}

ul li label{
    display: inline-block;
    width: 50%;
}

form ul li input[type="submit"]:hover{
    cursor: pointer;
    color:rgb(219, 69,83);
}

main > section{
    padding: 10px;
}

table{
    width: 100%;
    border-collapse: collapse;
    margin: 2px;
    margin-bottom: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

table td, table th{
    border: 1px solid #000;
    padding: 5px;
    font-size: 13px;
}

table th{
    font-size: 14px;
    text-align: center;
}

table td h2 {
    text-align: center;
}

aside{
    margin: 40px 10px 20px 10px;
    background-color: #fffcfa;
    padding: 10px 1px;
}

aside > img {
    margin-left: 15px;
}

.pannello {
    display: inline-block;
    width: 30%;
}

section > div > img {
    margin: 10px 20%;
    padding: 10px;
    border: 4px dashed #cacaca;
}

section > div > img.car {
    margin: 10px 25%;
}

aside > section{
    padding: 10px;
}

section#filtro {
    margin: 0 5px 5px;
}

section > div > p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 3px;
    margin: 4px 2px;
}

section > div {
    border: 2px solid #b4b4b4;
    width: 95%;
    margin: 10px 2.5%;
}

  .slidecontainer {
    width: 70%;
  }

  .slider {
    -webkit-appearance: none;
    height: 10px;
    background: #c0c0c0;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    border-radius: 0.4rem;
  }

  .slider:hover {
    opacity: 1;
  }

  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: rgb(54, 54, 54);
    cursor: pointer;
  }

  .slider::-moz-range-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: rgb(54, 54, 54);
    cursor: pointer;
  }

  .btn {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #494949;
    border: none;
    color: white;
    padding: 12px 15px;
    font-size: 16px;
    cursor: pointer;
  }

  .btn:hover {
    background-color: rgb(54, 54, 54);
  }

    #filter #filtro {
        display: inline-block;
    }

    .btn#filter {
        background-color: #494949;
        margin-left: 45%;
        margin-bottom: 10px;
    }

    .btn#apply {
        width: auto;
        background-color: #494949;
        margin: 25px 0px 0px 32%;
        border-radius: .4rem;
    }

    .btn[id^="cart"], .btn[id^="id"] {
        border-radius: .4rem;
        margin: 10px 10px 10px 55%;
    }

    #filter:hover, #apply:hover {
        background-color: rgb(54, 54, 54);
    }

      form#ricerca {
        padding: 7px;
        width: 60%;
        border-radius: 1.5rem;
        background-color: #494949;
        margin: 15px 20%;
      }

      form#ricerca:hover {
          background-color: rgb(54, 54, 54);
      }

      article[id^="auto"] {
          width: 90%;
          margin: 2%;
          padding: 10px;
          background-color: #fffcfa;
          border-radius: 0.2rem;
      }

      article[id^="auto"] > section > p {
          font-size: 14px;
      }

      form input[type="submit"] {
          width: 20%;
          border-radius: 0.4rem;
          background-color: #cacaca;
          margin: 5px;
      }

      form input[type="submit"]:hover {
          background-color: #c0c0c0 ;
      }

      fieldset > label, fieldset > label > input {
          margin: 3px;
      }

      fieldset {
          border: 2px dotted #c0c0c0;
          margin: 5px;
          padding: 5px;
          width: 30%;
      }

      .btn#accountdetails, .btn#myorders, .btn#notification, .btn#allorders, .btn#newcar {
            border-radius: 0.4rem;
            display: block;
            margin: 5px 15%;
            width: 70%;
      }

      button#prof, .btn#view{
          width: 90%;
          border-radius: 0.4rem;
            margin: 5px 5%;
      }

    div#alimentazione, div#marca, div#cambio, div.slidecontainer {
        border: none;
    }

    div > label {
        font-family: Arial, Helvetica, sans-serif;
    }

    #descrizione {
        width: 85%;
        height: 150px;
    }

    .tabella {
        margin: 10px 5% 5px;
    }

    form#filtro {
        border:none;
        padding-top: 0px;
        padding-bottom: 0px;
    }

    button#login {
        margin: 5px 2px 10px 2.5%;
    }

    button#login, button#login1 {
        border-radius: 0.4rem;
    }

    .carousel > h3 {
        text-align: center;
        background-color: #4d4d4d;
        color: #fff;
    }
    .carousel > p, .carousel > h3 {
        width: 100%;
        padding: 2px;
    }

    .carousel > img {
        width: 85%;
        margin: 5px 3%;
    }

    #presentazione {
        margin: 10px;
    }

    #pannello > div > h3 {
        text-align: center;
        padding: 5px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    div.notification {
        padding: 20px;
        background-color: #494949;
        color: white;
        opacity: 1;
        transition: opacity 0.6s;
        margin: 5px;
        font-size: 13px;
      }

      div.notification:hover {
          background-color: rgb(54, 54, 54);
      }

      .chiudi {
        margin-left: 15px;
        color: white;
        font-weight: bold;
        float: right;
        font-size: 22px;
        line-height: 20px;
        cursor: pointer;
        transition: 0.3s;
      }
      
      .chiudi:hover {
        color: red;
      }

      #button-completa {
        width: 60%;
        margin: 20px 20%;
        border-radius: 0.4rem;
      }

      .search {
        display: inline-block;
        position: relative;
        height: 35px;
        width: 35px;
        box-sizing: border-box;
        margin: 2px 2.5%;
        padding: 7px 9px 0px 9px;
        border: 3px solid #fff;
        border-radius: 25px;
        transition: all 200ms ease;
        cursor: text;
      }
      .search:after {
        content: "";
        position: absolute;
        width: 3px;
        height: 20px;
        right: -5px;
        top: 21px;
        background: #fff;
        border-radius: 3px;
        transform: rotate(-45deg);
        transition: all 200ms ease;
      }
      .search.active,
      .search:hover {
        width: 95%;
      }
      .search.active:after,
      .search:hover:after {
        height: 0px;
      }
      .search input {
        width: 100%;
        border: none;
        box-sizing: border-box;
        font-family: Helvetica;
        font-size: 15px;
        color: #fff;
        background: transparent;
        outline-width: 0px;
      }

      input#search::placeholder {
          color: #fff;
      }

      #description {
          width: 80%;
          height: 150px;
      }

      ul#admin-form{
          width: initial;
          margin: 15px 40px;
      }

      #description, label[for="descrizione"] {
        vertical-align: top;
    }

    ul#admin-form li label {
        width: 70%;
        margin-bottom: 3px;
    }

    ul#admin-form li input[type="text"] {
        border: 1px solid rgb(54, 54, 54);
    }
    
    span#prezzo {
        width: 15px;
        margin: 5px;
    }

    input[type="checkbox"], input[type="radio"] {
        filter: grayscale(2);
        cursor: pointer;
    }

    .sr-only{
   position:absolute;
   left:-10000px;
   top:auto;
   width:1px;
   height:1px;
   overflow:hidden;
}

.car {
    width: 40%;
}

.car1 {
    width: 50%;
}

@media screen and (min-width:768px){

    main#lista-auto {
        margin:20px 0px 10px 0px;
    }

    #pannello {
        margin: 30px 10px 2% 2%;
    }

    section > div> img {
        margin: 10px 23%;
    }

    section > div > img.car {
        margin: 10px 27%;
    }

    footer > div {
        padding: 15px 10%;
        font-size: medium;
    }

    #description {
        width: 300px;
        height: 125px;
    }

    ul#admin-form li label {
        width: 30%;
    }

    .noaside {
        width: 80%;
        margin: 15px 10%;
    }

    main > img {
        margin: 20px 35%;
    }

    #menu > ul {
        width: 35%;
    }

    ul{
        width: 60%;
        margin: 10px 20px;
    }

    nav ul li{
        display: inline-block;
    }

    nav ul li{
        display: inline-block;
        margin: 5px 0 0 20px;
        padding: 5px;
        width: 40%;
        background-color:rgb(54,54,54);
        border-radius: 0.3rem;
    }

    nav ul li:nth-child(even) {
        margin-left: 5px;
    }

    nav ul li:last-child {
        margin-left: 22%;
    }

    main, aside {
        display: inline-block;
        vertical-align: top;
    }

    main {
        padding: 2px;
        width: 65%;
        margin: 20px 10px 10px 10px;
    }

    aside{
        padding: 1px;
        width: 30%;
        margin: 30px 5px;
    }

    aside.img{
        width: 20%;
    }

    article[id^="auto"] {
        margin: 8px 2% 10px 10px;
    }

    .btn#acquisto {
        margin-left: 75%;
    }

    button#login{
        margin-left: 37.5%;
    }
    .carousel > img {
        width: 50%;
        margin: 15px 23%;
    }

    .carousel{
        width: 60%;
        margin: 10px 20%;
        padding: 10px;
    }

    .login {
        display: inline-block;
        border: none;
        vertical-align: top;
        margin-left: 10%;
    }

    td[headers="dettagli auto"] {
        width: 40%;
    }

    td[headers="azioni"] {
        width: 15%;
    }

    .btn#accountdetails, .btn#prof, .btn#myorders, .btn#notification, .btn#allorders, .btn#newcar, .btn#view {
        width: 30%;
        margin: 5px 35%;
    }

}
